<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://main.dcgr5ap5fl5bj.amplifyapp.com/style.css"
        />
    </head>
    <body>
        <div class="h-screen w-full flex items-center justify-center">
            <div style="width: 300px">
                <gj-input-text id="1" name="Email" value=""></gj-input-text>
            </div>
        </div>
    </body>
    <script type="module">
        import './component.js'
    </script>
</html>
